#Simple way to include all the various klicky macros and configurations
# the current home for this configuration is https://github.com/jlas1/Klicky-Probe, please check it

[include ./Klicky_Macros/klicky-specific.cfg]                #place to put other configurations specific to your printer
[include ./Klicky_Macros/klicky-variables.cfg]                #Required
[include ./Klicky_Macros/klicky-macros.cfg]                   #Required
[include ./Klicky_Macros/klicky-bed-mesh-calibrate.cfg]      #bed mesh, requires klipper configuration
[include ./Klicky_Macros/klicky-screws-tilt-calculate.cfg]   #help adjust bed screws automatically
#[include ./Klicky_Macros/klicky-quad-gantry-level.cfg]       #level 4 Z motors
#[include ./Klicky_Macros/klicky-z-tilt-adjust.cfg]           #level 2 or 3 Z motors
